<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav id="navbar">
            <h1>Events Manager</h1>
            <ul>
                <li><a href="/events">Home</a></li>
                <li><a href="/events/delete">Delete an event</a></li>
            </ul>
        </nav>
    </header>

    <div id="main-page">

        {% block content %}  
        {% endblock content %}

        <ul>
            {% for event in my_events %} 
                <li class="event-box">
                    <p>{{ event.start_date }}</p>
                    <h3>{{ event.name }}</h3>
                    <p>Number attending: {{ event.num_of_guests }}</p>
                    <p>Location (room): {{ event.room }}</p>
                    <p>Description: {{ event.description }}</p>
                    <h4>{{ my_events.index(event) + 1 }}</h4>
                </li>
            {% endfor %}
        </ul>   
    </div>
</body>
</html>